@media (min-width: 500px) {
	.caption-blurb {
		@include font-size(18px);
	}
}

@media (min-width: 768px) {
	header {
		min-height: 95vh;
		padding-top: 14em;
	}
	.figure-sm {
		width: 48%;
		display: block;
		float: left;
	}

	.figure-sm.one {
		margin-left: 4%;
	}
	
	.button-play {
		&:before {
			content: '';
			position: absolute;
			top: -42px;
			left: -155px;
			width: 200%;
			height: 1px;
			background-color: #000;
			transform: rotate(28deg);
		}
		&:after {
			content: '';
			position: absolute;
			bottom: -42px;
			right: -155px;
			width: 200%;
			height: 1px;
			background-color: #000;
			transform: rotate(28deg);
		}
	}
	.social-wrap li {
		margin: 0 2%;
	}
}

@media (min-width: 992px) {
	.nav-toggle {
		display: none;
	}

	.nav-main {
		display: block;
		float: right;
		width: 70%;
		ul {
			text-align: right;
		}
		li {
			display: inline-block;
			margin-left: 40px;
		}
		a {
			text-transform: uppercase;
			padding: 0;
		}
	}

	.work-column-lg {
		display: block;
		width: 61.5%;
		float: left;
	}

	.work-column-sm {
		display: block;
		width: 35.5%;
		float: left;
		margin-left: 3%;
		
		img {
			height: auto;
		}
	}

	form {
		padding-bottom: 40px;
		p {
			display: inline-block;
			float: left;
		}

		.button-send {
			float: right;
			margin-top: 0;
		}
	}

	.text-center form p {
		margin-top: 10px;
	}
}